/* modern.css - Prism Tomorrow Night inspired */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  direction: ltr;
  white-space: pre;
  word-spacing: normal;
  line-height: 1.5;
  tab-size: 4;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff9d00;
}

.token.boolean,
.token.number {
  color: #d19a66;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #d19a66;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #c678dd;
}

.token.function,
.token.class-name {
  color: #61afef;
}

.token.regex,
.token.important {
  color: #e06c75;
}
